i {
  display: block;

  &.logo {
    width: 60px;
    height: 58px;
    background-image: url(../img/logo.svg);
  }

  &.eye {
    cursor: pointer;
    width: 16px;
    height: 12px;
    background-image: url(../img/eye.svg);
  }

  &.eye-blue {
    cursor: pointer;
    width: 16px;
    height: 12px;
    background-image: url(../img/eye-blue.svg);
  }
}
