@import "assets/reset";
@import "assets/scss/style";
@import "assets/variables";

* {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.link {
  color: $main;
  cursor: pointer;
}

.error {
  color: $error;
}
